.card{
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 25%;  
    min-width: auto;  
    height: fit-content;
    background-color: transparent;
}
.card-black{
    position: relative;
    max-width: 300px;  
    min-width: auto;  
    height: fit-content;
}

.list-services li{
    margin: 20px;
    padding: 0px;
}
.grid-item{
    /*margin: 12px;*/
    padding: 10px;
}
.cont-img-services img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 0.001px solid rgba(255, 255, 255, 0.213);*/
    
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-bottom: -10px;
}
.card-description{
    background-color: white;
    border-radius: 5px;
}
h4{
    margin-top: 20px;
    color: #131313;
}
.p-services{
    margin-bottom: 10px;
}
@media only screen and (max-width: 769px) { 
    .card{        
        max-width: 50%;          
    }
    .card-description h4{
        font-size: 1em;
    }
    .card-description p{
        font-size: .9em;
        line-height: 14px;
    }
}