.blocks{

    align-items: center;
    display: flex !important;

    position: relative;        
    /*min-height: 100vh;*/    
    background: rgb(4 8 20);
    min-height: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 5.6vw; 
    flex-direction: row ;
}
.picture-img-section{
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 5px;          
 
}
.picture-img-section img{
    display: inline-block;
    max-width: 100%;    
}
.text-container{            
    color: silver;
    display: inline-block;    
}


/*Resolution Mobil*/
@media only screen and (max-width: 769px) { 
    .blocks{        
        flex-direction: column;                
        padding: 10vw 5vw;  
    }
}
