.mouse-movimiento{
    z-index: 4;
    background: linear-gradient(#1fddff61, #0000001a, transparent);
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
  }
.sidealign{
  align-items: center;
  display: flex !important;
}

  .sidealing-image{
    flex: 0 0 50%;
    max-width: 50%;
  }

.display-block-width {
    display: block;
    height: auto;
    width: 100%;
}

/*Butons btns*/
.btn-primary{
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease 0s;
  font-size: 12px;
  line-height: 15px;    
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #134580;
  padding: 11.5px 24px;
  max-width: 540px;    
  color: #f9f9f9;    
  border: none;    
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
  width: 100%;
}
.btn-primary:hover{
  background: linear-gradient(to right,#00CCFF 40%, #6E4D95 60%, #AF5CC9 90%);
  text-decoration: none;
  color:rgb(4, 4, 4);
}
.btn-secondary{
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease 0s;
  font-size: 12px;
  line-height: 15px;    
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #134580;
  padding: 11.5px 24px;
  max-width: 540px;    
  color: #f9f9f9;    
  border: none;    
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
  width: 30%;
}
.btn-secondary:hover{  
  background: linear-gradient(to right,#05aed8 40%, #00CCFF 60%, silver 90%);
  text-decoration: none;
  color:rgb(4, 4, 4);
}