.card{
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 20%;  
    min-width: auto;  
    height: fit-content;
    background-color: transparent;    

}
h1{
    text-align: center;
}
.second-title-card{
    color: #a53264;;
    font-weight: 600;
}

.span-icon-solana{
    width: 20px;    
}
.test-card .p-price{
    color: #a99fb4 ;
    font-size: 1.5em;
    font-weight: 400;
}
 .test-card .p-price-value{
    color: white;
    font-size: 2.2em ;
    font-weight: 600 ;
    margin-left: 0;
}
.info-card__img-price-value{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span-icon-solana img{
    display: block;
    width: 100%;
    width: 20px;
}


.div-content-card{
    width: 100%;
    background-color: #120c18;
    border-radius: 15px;
    position: relative;
    /* border: 1px solid #313c60; */
    border: 1.5px solid #32353659;
    overflow: hidden;
}
.card-black{
    position: relative;
    max-width: 300px;  
    min-width: auto;  
    height: fit-content;
}
/*footer  cards*/
.footer-cards{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    /*-webkit-justify-content: space-between;*/
    justify-content: space-between;
    height: 45px;
    line-height: 45px;
}

.read-more-card{           
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap;
    position: absolute;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    top: -20px;
    right: 0;
    left: auto;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #1fd2f1;
    background-color: #10131d;
    font-size: 10px;
    flex-direction: column-reverse;
    align-content: space-around;
    display: none;

}
.info-card{    
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 2 1;
    flex: 2 1;
    /* padding-left: 15px; */
    color: #1fd2f1;
    font-size: 11px;
    background-color: #10131d;
    width: max-content;
    border-bottom-left-radius: 4px;
}
.hire-card{    
    /*
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2098e9;
    */
    border-bottom-right-radius: 4px;
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #1fd2f1;
    color: #0e1018;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}
.hire-card:hover{  
    background: linear-gradient(to right,#00CCFF 40%, #6E4D95 80%, #AF5CC9 100%);
    text-decoration: none;
    color:rgb(255, 255, 255);
  }

.test-card{
    background-color: #191e2e !important;
    background-color: #120c18 !important;
    color: white !important;    
}
.test-card .p-price-value{    
    color: rgb(255, 254, 254) !important;    
}
/*
.test-card{
    background-color: #ffffff !important;
    color: rgb(15, 15, 15);
    
}
*/
.hire-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-top: 45px solid #10131d;
    border-right: 10px solid #1fd2f1;
}
.icon{
    padding: 5px;
}

.list-services li{
    margin: 20px;
    padding: 0px;
}
.grid-item{
    /*margin: 12px;*/
    padding: 10px;
}
.cont-img-services img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border: 0.001px solid rgba(255, 255, 255, 0.213); */
    position: relative;
    display: block;
    width: 100%;
    border-radius: 15px;
    height: auto;
    background-color: transparent;
    margin-bottom: -10px;
}
.card-description{
    background-color: white;
    border-radius: 5px;
}
h4{
    font-size: 22px;
    line-height: 18px;    
    margin-top: 20px;
    color: #131313;
}
.p-services{
    margin-bottom: 10px;
}
.card-description p{
    margin: 10px;       
    font-size: 15px;
    line-height: 25px;
    color: rgb(87, 87, 87);
}
.captions-card-description{
    padding: 10px;
}
/*PC*/
@media only screen and (max-width: 1200px) { 
  
    .card-description h4{        
    }
    .card-description p{
        font-size: .9em;
        line-height: 14px;
        line-height: 0px;
    }  
}

/*MOVil*/
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
/*////////////////////////////////////////////////////// */
@media only screen and (min-width: 600px) and  (max-width: 1200px) { 
    .card{
        max-width: 100%;                
    }
    .captions-card-description{    
    
    }
    .test-card .p-price{        
    }  
    
    
 
}
@media only screen and (max-width: 600px) {
    .card{
        max-width: 100%; 
        min-width: 100%;     
    }
    .info-card{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    }
    .span-icon-solana img {    
        width: 15px;
    }
    .test-card .p-price-value {
        color: white;
        font-size: 1.8em;   
           
    }
    .test-card .p-price{
        font-size: 1.2em;
        line-height: 1.2em;
    }  
    .captions-card-description {
        padding-bottom: 0px;
        font-size: 1em;
    }  
    .captions-card-description {
        padding: 10px;
        padding-top: 20px;
        margin-bottom: 0px;
    }
    .captions-card-description h4, h5 {
        padding-bottom: 0px;
        margin: 0;
        font-size: 1em;
    }
   
    .card-description p {
        margin: 0;
        margin-top: 0px;
        font-size: 15px;
        line-height: 20px;
        color: rgb(87, 87, 87);
    }
    .grid-item{
        /*margin: 12px;*/
        padding: 5px;
    }
 
  
}



