/* header  nav search */
.nav-container ul li .form-search-collection:hover, .nav-container ul li .form-search-collection:visited:hover{
    box-shadow: none;
    background: none;
}



.grid-list{
    
    justify-content: center;
}
.form-control-file{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.card-body{
    position: relative;
}
.sidealing .title-gallery{
    margin-top: 60px;
}

#id-ruta-img-portada{
    /*z-index: -5; */
    pointer-events: none;
    height: 40px;
    position: absolute;
    top: 230px;
    font-size: .9em;
    background: none;
    border: none;
    text-align: center;
    left: 23%;
    /* margin-bottom: 80px; */
    opacity: 0;
    max-width: 50%;
}
#taskId{
    position: absolute;
    position: absolute;
    z-index: 2;
    /* right: 50%; */
    left: 46%;
    background-color: #191e2e;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-collection-delete{   
    position: absolute;
    z-index: 2;
    color: red;
    /* right: 50%; */
    right: 5%;
}
.form-search-collection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.form-search-collection input{
    max-width: 70%;
    width: 70%;
}
.form-search-collection button{
    max-width: 30%;
    width: 30%;
}
.col2-list-collections ul {
    flex-direction: row;
    justify-content: center;
    display: flex;
    /* width: fit-content; */
    flex-wrap: wrap;
}

.cont-3-images{
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -11%;
    /*margin-left: -13px;*/
    width: 100%;
    /* max-width: 145px; */
    /* min-width: 145px; */
    /* border: 2px solid white; */
    justify-content: center;
}

.card-description h4 {
    padding-top: 20px !important;
}

.cont-3-images .cont-circular-img-collection{
    border-radius: 0%;
    min-width: 146%;
    margin-top: -25%;
    margin-left: -25%;        
}
.content-shape-diamond .cont-circular-img-collection img {    
    border: solid 0px #ffffff2b; 

}
.diamond3{
    margin-left: -1.9px;
}
.content-shape-diamond{
    background: transparent;
    overflow: hidden;
    transform: rotate(45deg);
    width: 70px;
    height: 70px;
    border-radius: 5%;
    border: solid 2px #ffffff36;
}
.cont-circular-img-collection  img{
    transform:rotate(-45deg);
    opacity: 0.9;
    width: 100%;
}
/*
.item3-show img {
    opacity: 1 !important;
}
*/

.cont-circular-img-collection img:hover{
    opacity: 1;
}
.card-castell:hover  .collection-img-portada{
    transform: scale(1.1);
    cursor: pointer;    
  }   

  /*show form from left*/
.show-form-from-left {
    position: absolute !important;
    display: block !important;
    margin-left: 0% !important;      
}
  /* botones opciones */
.botones-opciones {
    font-size: 1em;
    border-radius: 30%;
    min-width: 30px;
    text-align: center;
    min-height: auto;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    background: rgb(212 97 15 / 72%);
    background: repeating-linear-gradient(340deg, #00acdb, #ff0808 100px);
    bottom: 10px;
    position: fixed;
    right: 5px;
    z-index: 100;
}
  

/*1224 para abajo*/
@media only screen and (max-width: 800px){
 
    /* formulario  */
    .form-card .col1-setting{
        overflow-y: scroll;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        min-width: 100%;
        flex-direction: column;
        margin-left: -0%;
        padding: 10px;
        position: fixed;
        z-index: 2;
        background: #040814;
        border-bottom: 1px solid grey;
        align-items: center;
        flex-wrap: nowrap;
        align-content: space-between;
        margin: 0 !important;
        top: 40px;
        display: none;
    }
       

    .sidealing p h1 {
        line-height: 1px;
    }    
    #task-form textarea{
        max-height: 60px;
    }
    .form-group {
        margin-bottom: 0.5rem;
    }
    .card-title{
        font-size: .9em;
        margin: 0px;
    }
    .card-body {
        margin: 0px;
        font-size: .9em;
        padding-top: 2px;
    }
    .card-text {
        font-size: .9em;
        margin: 0px;
    }
    
    .form-group input {
        max-height: 25px;
    }
    .card-body p{
        line-height: 20px;
    }
    .card-body .card-title .card-text{
        margin-bottom: 5px;
    }
    .flexbox-container {      
        flex-direction: column;     
        align-items: center;
    }

    .flexbox-container .col2-list-collections {
    width: 100%;
    padding: 10px;
    }

    .ul-content-collection li{
        min-width: 350px;
    }
}

