.form-search-collection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.form-search-collection input{
    max-width: 70%;
    width: 70%;
}
.form-search-collection button{
    max-width: 30%;
    width: 30%;
}

.cont-3-images{
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -11%;
    /*margin-left: -13px;*/
    width: 100%;
    /* max-width: 145px; */
    /* min-width: 145px; */
    /* border: 2px solid white; */
    justify-content: center;
}

.cont-3-images .cont-circular-img-collection{
    border-radius: 0%;
    min-width: 146%;
    margin-top: -25%;
    margin-left: -25%;
    
    
}
.content-shape-diamond .cont-circular-img-collection img {    
    border: solid 0px #ffffff2b; 

}
.diamond3{
    margin-left: -1.9px;
}
.content-shape-diamond{
    background: transparent;
    overflow: hidden;
    transform: rotate(45deg);
    width: 70px;
    height: 70px;
    border-radius: 5%;
    border: solid 2px #ffffff36;
}
.cont-circular-img-collection  img{
    transform:rotate(-45deg);
    opacity: 0.9;
    width: 100%;
}
/*
.item3-show img {
    opacity: 1 !important;
}
*/

.cont-circular-img-collection img:hover{
    opacity: 1;
}
