* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Dosis", sans-serif;
    background-color: #202125;
  }
  .card-collection__data{    
    margin-top: 15px;
  }
  .cont-circular-img-collection{
    border-radius: 50%;
    z-index: 2;
    /* overflow: hidden; */
    /* max-width: 10px; */
    min-width: 50px;
    max-width: 150px;
    width: 35%;
    position: relative;
    background: transparent;
    margin-top: -120px;
    text-align: center;
    margin: auto;
    /* display: block; */
    text-align: center;
    margin-top: 0px;
  }
  .grid-list{
    justify-items: center;
  }
  .div-content-card-collection{
    border-radius: 6px;
    border: 1px solid #073f61;
    border: 1px solid #ffffff21;
    overflow: hidden;
  }
  
  a:hover{
    text-decoration: none;    
  }
  ul li:hover  .collection-img-portada{
    transform: scale(1.1);
    cursor: pointer;
  }     
  
  .card-description {
    background-color: #191e2e;
    border-radius: 5px;
    padding: 10px;
    margin-top: -20%;
}
  
  .card-description h1,h2,h3,h4,h5,h6{
    color: white;
    margin: 0;
  }
  .card-description__created-by {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card-description__created-by h5{
    margin: 0px;
    margin-right: 5px;

  }
  .text-card__creator{
    color: #1fd2f1;
  }
  .cont-circular-img-collection img{
    border-radius: 50%;
    border: solid 5px white;
    border: solid 5px #ffffff2b;
    width: 100%;
  }
  .card-description  h4{
    padding-top: 20px;
  }
  .card-description  h5{
  
  }
  .title-gallery
  { 
    margin-top: 100px;
  }
  .card-collection{
    color: black;
  }
  .h1-title-project{
    margin: 0;
    padding: 0;
    color: black;
  }
  .h2-autor-project{    
    margin: 0;
    padding: 0;
    color: black;
  }
  .description-collection p{
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    color: #c5c5c5;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 20px;
    text-overflow: ellipsis;
  }
  .heading {
      text-align: center;
      font-size: 2.0em;
      letter-spacing: 1px;
      padding: 40px;
      color: white;
  }

  .btn-back-gallery {
    border: none;
    background: #e8e8e8;
    background:#2a2a2a ;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }

  button{
    text-decoration: none;
    outline: none;
    border: none;
  }
  button:hover{
    text-decoration: none;
    outline: none;
    border: none;
  }
    /*Contenedor swiper  Fotos*/
    .title-btn-back{
      font-size: 20px;
      color: white;

    }
    /*
    ::-webkit-scrollbar {
      display: none;
  }
  */

    .btn-back-gallery img{
      width: 20px;
      position: absolute;
      right: 20px;
      filter: invert(1);
      
    }
    .cont-swiper-slide-photos{      
      background-color: rgb(4 8 20 / 78%);      
      backdrop-filter: blur(3px);
      position: absolute;
      position: fixed;
      z-index: 5;
      top: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      text-align: center;
      flex-direction: column;
      padding: 20px 100px 20px 100px;
      opacity: 1;
    }
    .cont-photos-gallery{      
      background-color: rgb(92 92 92);
      background-color: rgb(42 42 42);
      border-radius: 0.5%;
      /*padding: 20px;*/
      /* margin: 20px 100px 20px 100px; */
      /* height: 100vh; */
      /* height: max-content; */
      /* height: max-content; */
      max-height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      position: relative;       
      max-width: 1400px;
      align-self: center;
    }
   
    .cont-name-photo {
      width: 80%;
      min-width: 70%;
      max-width: 900px;
    }
    .description-collections{
      margin-bottom: 8rem;
    }
    .header-title{
      border-bottom: 1px solid #ffffff54;
    }
    .cont-footer{
      position: relative;
      min-width: 20vw;
      max-width: 25vw;
      width: -webkit-fill-available;
      overflow: hidden;
    }
    .icons-like-share {
      position: absolute;
      left: 0;
      bottom: 0;
      
    }
    .title-colletion-project{
      /*padding: 0px 20px 0px 20px ;      */
      font-size: 1em;
      text-align: left;
    }
    .article-slide{
      text-align: start;
      position: relative;
    }
    
    
    .article-slide img{
      width: 100%;
      /* max-width: 800px; */
      min-width: 60vh;
      max-width: 85vh;
      width: -webkit-fill-available;
    }
    .footer-slide{
      /* padding: 0px 20px 20px; */
      text-align: left;
      max-height: 50vh;
      overflow: visible;
    }
    .icons-like-share {
      width: 100%;
    }
    .cont-icon {
      border: none;
      text-decoration: none;
      outline: none;
      background-color: transparent;
      padding: 6px;
      
    }
    .cont-icon img{
      width: 24px;
      padding: 1px;
      filter: invert(1);
    }
    .slide-description{
      margin-top: 10px;
      overflow: auto;
      max-height: inherit;
    }
    .slide-description__p{

    }
    .cont-date__p{
      font-size: 10px;
    text-align: right;
    /* float: right;*/
    margin: 0;
    }
    .grid-item:hover{
    cursor: pointer;
    }   
  
    /*gallery properties*/
  .gallery-image {
    padding: 20px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);        
    overflow: hidden;
    grid-auto-rows: auto ;
   
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;    

    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
    height: max-content;

  }
  /*
  .gallery-image img {
    height: auto;
    width: 100%;
    height: -webkit-fill-available;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  */
  
  .img-box {
    position: relative;
    box-sizing: content-box;
    /*margin: 10px;*/    
    min-height: fit-content;
    width: 100%;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    border-radius: 2%;    
  }
  .img-box img{
    transition: transform 0.4s ease;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    position: absolute;
    left: 5%;
    opacity: 0;    
    bottom: 0%;
    bottom: -18px;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    line-height: 0px;
    text-align: left;
 
  }
  
  
  .transparent-box {
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  .caption p{
    line-height: 5px ;
  }
  .caption-p2{
    line-height: 1em !important;
  }
  
  /*
  .img-box:hover img { 
    transform: scale(1.1);
  }
  */
  .collection-img-portada{
    transition: transform 0.4s ease;
  }
  
 
  
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  /*
  .img-box:hover {
    cursor: pointer;
    transform: scale(1);
  }
  */
 

  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }



  @media (min-width: 1024px ){
    .btn-back-gallery {
     
      background: #e8e8e800;
      
   
  }
  .title-btn-back {
      font-size: 18px;  
      opacity: 0; 
      color: white;
   
  }
  
  .btn-back-gallery img {
    width: 30px;
    filter: invert(1);   
    
  }
  }
  /*//////////////////////////////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////*/

  @media (max-width: 1024px ){
 /*Contenedor swiper  Fotos*/
  .cont-swiper-slide-photos{
    background-color: rgb(42 42 42);
    height: fit-content;
    position: relative;
    padding: 0;
  }
  .cont-photos-gallery{
    width: 100%;
    border-radius: 0;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    height: fit-content;
    overflow: visible;
    max-height: 100%;
  }
  .title-colletion-project{

  }
  .article-slide{
    text-align: center;
  }
  .article-slide img{
    min-width: 0vh;
    max-width: 70vh;
    width: -webkit-fill-available;
  }
  .icons-like-share {
    position: relative;
    bottom: 0;
  }


 .gallery-image {
    column-gap: 5px;  
    row-gap: 5px; 
    padding: 20px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .gallery-image img {
 
  }
  .cont-date__p{
    float: right;
  }
  .img-box {


  }
  .cont-name-photo{
    width: 100%;
  }
  .footer-slide{
  max-height: 100%;
  padding-top: 0;
  }
  .title-btn-back {
    font-size: 12px;      
  }
  .btn-back-gallery img {
    width: 15px;
  }
  .title-colletion-project{
    margin: 0;
  }
  .article-slide{
    padding: 2px 2px 2px 2px !important;
  }
  .cont-footer{
    position: relative;
    min-width: none;
    max-width: 100%;
    width: -webkit-fill-available;
    overflow: visible;
    min-height: 100%;
  }
}
/*///////////////////////////*/
/*///////////////////////////*/
/*///////////////////////////*/
/*Movil peqeño*/
@media only screen and (max-width: 700px){
  .grid-list {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr !important;
}
}