@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 36px;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .5s ease-out;
    pointer-events: none;
    padding: 0 12px 0 20px;
}

.nav a{
    margin: 5px;
}
.nav nav{
    margin: 5px;
}
.pre-stick{     
    z-index: 3;
    background-color: transparent;        
    justify-content: flex-end;    
    opacity: 1;
    pointer-events: auto;
}
.post-stick{ 
    /*comi to prub*/ 
    transition: opacity .8s ease-out;         
    z-index: 4;
    background: linear-gradient(#1fddff61, #0408140a, #04071400);
    justify-content: flex-end;    
    opacity: 0;    
    pointer-events: none;
}
.btn-wallet{    
    padding-right: 10px;        
    line-height: 0px;       
}
.span-cont-img img{
    margin-top: -2px;
    min-width: 30px;
    max-width: 44px;
}
.btn-login{
      
    padding-left: 8px;
    padding-right: 8px;
    max-width: none;
    height: 40px;
    width: auto;
    color: #f9f9f9;
    background-color: #04071400;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease 0s;
    font-size: 15px;
    line-height: 15px;

    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.btn-login:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.div-img-logo {        
    display: block;    
    margin-right: 300px;    
}
.nav .a-img-logo{
    width: 80px;
    height: auto;
    max-height: 70px;
    padding: 0 14px;
    display: inline-block;
    margin-right: auto;
    transition: all .2s ease 0s;
}
.picture-img-logo{
    width: 200px;
}
.picture-img-logo img{        
    width: 110px;
    height: auto;  
    display: inline-block;
}

/*menu m*/
 .brand {
     
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}

 .brand a, .brand a:visited {
     color: black;
     text-decoration: none;     
}
 .nav-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;    
     margin: 0 auto;     
}
 .nav-container {
     
}
 .nav-container ul {     
     list-style: none;
     margin: 0;
     padding: 0;
}
 .nav-container ul li {
     float: left;
     position: relative;
}
 .nav-container ul li a,.nav-container ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
     
}
 .nav-container ul li a{
     background: transparent;
     color: #FFF;
}
 .nav-container ul li a:hover, .nav-container ul li a:visited:hover {    
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 9px #22e1ff;
    background: #1fddff;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 .nav-container ul li a:not(:only-child):after, .nav-container ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 .nav-container ul li ul li {
     min-width: 190px;
}
 .nav-container ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: rgba(13, 13, 13, 0.234);
    backdrop-filter:blur(2px) ;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/*/////////////////////////////////////////////////*/
/*Mobil movil*/
/* Mobile nav-containerigation */
 .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;   
    width: 70px;
}

@media only screen and (max-width: 769px) { 
   
    .nav .a-img-logo{        
        padding: 0;       
    }
    .contenedor{       
    }
    .nav {              
        display: inline-block;
        padding-top: 3px;        
        
   }   
    .pre-stick{        
        opacity: 0;        
        pointer-events: none;
    }
    .post-stick{      
        transition: all 600ms ease-in-out;
        opacity: 1;  
        background-color: #04071400;      
        pointer-events: auto;
        max-height: 45px;
    }
    .btn-login{  
        position: absolute;         
        right: 0;
        top: 0;
        padding-left: 1px;
        padding-right: 1px; 
        padding-top: 5px; 
        padding-bottom: 5px;       
        min-width: 20px;        
        max-width: 30px;
        height: 30px;  
        max-height: 30px;      
        width: auto;
        display: block;
        margin: 5px;
        margin-right: 60px !important;        
        color: #f9f9f9;
        background-color: #04071400;
        border: 1px solid rgb(192, 192, 192);        
        font-size: 8px;
        line-height: 10px;            
        font-weight: 200;    
    }
    .btn-login
    {                 
        margin-top: 7px !important;
    }   
    .span-login{
            
    }

    .btn-wallet{  
        display: block; 
        position: absolute; 
        right: 0;
        top: 0;                    
        margin: 5px;       
        margin-right: 90px !important;       
    }
    .span-cont-img img{
        margin-top: 1px;
        min-width: 30px;
        max-width: 33px;
    }
    .picture-img-logo{
        
    }
    .picture-img-logo img{          
        width: 70px;
        margin: 0px !important;
        height: auto;      
    }
    
     .nav-mobile {
        display: block;
        padding: 0;
        margin-top: -10px;
    }
    .nav-container{
        position: absolute;
        top: 41px;
        left: 2%;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 4px !important;
        margin-left: -10px !important;
    }
    .nav-container a{
        margin: 0;        
    }
     
     .nav-container ul {         
        display: none;
    }
     .nav-container ul li {
         float: none;
    }
     .nav-container ul li a {                         
         padding: 15px;
         line-height: 20px;
         background: #262626a2;
         backdrop-filter: blur(2px);
    }
     .nav-container ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:769px) {
     .nav-list {         
         display: block !important;           
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
     
}

 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 10ms ease-in-out;
    }
    #navbar-toggle span:before {
        top: -10px;
    }
    #navbar-toggle span:after {
        bottom: -10px;
    }
    #navbar-toggle.active span {
        background-color: transparent;
    }
    #navbar-toggle.active span:before, #navbar-toggle.active span:after {
        top: 0;
    }
    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }
    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}
