body{
    background-color: #040814 !important; 
    color: silver !important;
}

.text_title-nav-news{
    font-family: Industry,"sans-serif";
    font-weight: 350;
    line-height: 38px;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #fff;
}
.secondary-nav_nav{
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.list-group-item{
    margin: -1px;
}
/* .ul-news .list-group-item:hover{
    border-bottom: 3px solid #ffffffb8;
    
} */

.ul-news .list-group-item {
    padding: 0.5rem 1rem;
}
.list-group-item a{
    color:  silver;
}
 .list-group-item a:hover{
    color:  white;
} 

.ul-news .list-group-item{    
    border-bottom: 3px solid #aaaaaa;
}
/* .list-group-item.selected{
    color:red;
    display: none;
} */
.icon-select-li.selected{            
    opacity: 1 !important;
}
/* .ul-news .list-group-item .icon-select-li.selected{
    color:red;
    display: none;
} */

/* efect to select li */
.list-group-item .icon-select-li {    
 
    min-width: 25px;
    font-size: 24px;
    position: absolute;
    color: #00c0f3;
    /* left: 25%; */
    margin-left: -45%;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    border-left: red;
    background: #040814;
    bottom: -10px;
    /* background: linear-gradient(230deg, transparent 7px, #008ae7 7px); */
    transition: background 2s ease;   
    opacity: 0;    
}