body{
    background-color: #040814 !important; 
    color: silver !important;
}

.text_title-nav-news{
    font-family: Industry,"sans-serif";
    font-weight: 350;
    line-height: 38px;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #fff;
}
.secondary-nav_nav{
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.list-group-item{
    margin: -1px;
}
/* .ul-news .list-group-item:hover{
    border-bottom: 3px solid #ffffffb8;
    
} */

.ul-news .list-group-item {
    padding: 0.5rem 1rem;
}
.list-group-item a{
    color:  silver;
}
 .list-group-item a:hover{
    color:  white;
} 

.ul-news .list-group-item{    
    border-bottom: 3px solid #aaaaaa;
}
/* .list-group-item.selected{
    color:red;
    display: none;
} */
.icon-select-li.selected{            
    opacity: 1 !important;
}
/* .ul-news .list-group-item .icon-select-li.selected{
    color:red;
    display: none;
} */

/* efect to select li */
.list-group-item .icon-select-li {    
 
    min-width: 25px;
    font-size: 24px;
    position: absolute;
    color: #00c0f3;
    /* left: 25%; */
    margin-left: -45%;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    border-left: red;
    background: #040814;
    bottom: -10px;
    /* background: linear-gradient(230deg, transparent 7px, #008ae7 7px); */
    transition: background 2s ease;   
    opacity: 0;    
}

/*Grid items */
.grid-container {
    display: grid;  
    grid-template-columns: repeat(4,1fr);              
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 50px;
  }
  
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
  }
  /* .grid-item1{
  grid-column: span 3;
  } */

.featured-article-large_image__1UlCx {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.featured-article-large_article_large__16uVP {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.featured-article-large_categories__2VJCW {
    margin-bottom: 5px;
}

.small-module.jsx-4117428422 {
    font-family: Industry, sans-serif;
    font-weight: 350;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
body.jsx-2061130790 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(180, 180, 180);
}

.featured-article-large_excerpt__lD9zf {
    display: none;
}
.body.jsx-2061130790 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(180, 180, 180);
}
@media screen and (min-width: 1520px){
    .news-page_featured__1vO4J {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

 @media screen and (min-width: 992px){


    .featured-article-large_article_large__16uVP {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: minmax(400px,auto);
        grid-column-gap: 32px;
        background-color: rgba(0,0,0,.5);
    }
   
    
    .featured-article-large_image_container__1KzzQ {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .featured-article-large_content__NN5Ns {
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 32px 32px 32px 0;
    }   
    .medium-module-subtitle.jsx-2180848241 {
        font-family: "Normative Pro", "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: rgb(180, 180, 180);
    }
    .featured-article-large_excerpt__lD9zf {
    display: block;
    }
}
    

@media screen and (min-width: 768px){
    .featured-article-large_meta__13z2E {
        margin: 20px auto 32px;
    }
}
